@import "../../vars.scss";

.Login {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $commonsorange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  color: white;
  img {
    width: 120px;
    margin-bottom: 100px;
  }
  button {
    padding: 18px 30px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  a {
    text-decoration: none;
    margin-bottom: 60px;
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
}
