.activity {
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
  color: #FF7553;
  font-size: 20px;
  .header-text {
    width: 100%;
    h1 {
      margin-left: 30px;
      padding: 20px;
      font-size: 24px;
    }
  }
  .activity-text {
    width: 100%;
    textarea {
      font-family: helvetica;
      width: 75%;
      margin: auto;
      right: 0;
      left: 0;
      position: absolute;
      border: none;
      font-size: 20px;
      color: #95989a;
      resize: none;
      height: 250px;
      border-radius: 5px;
    }
  }
}
