@import "../../vars.scss";

.Profile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: white;
  -ms-touch-action: none;
  touch-action: none;
  .background-container {
    position: relative;
    max-height: 250px;
    video {
      width: 100%;
    }
    .editBackground {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      width: 100px;
      padding: 10px;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
      span {
        margin-left: 10px;
      }
      i {
        padding-top: 5px;
        font-size: 20px;
      }
    }
    #triangle1 {
      position: absolute;
      left: -7px;
      width: calc(100% + 8px);
    }
    #triangle2 {
      position: absolute;
      left: -2px;
      width: 80%;
      opacity: 0.5;
    }
  }
  .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    .pic-info {
      color: white;
      text-align: center;
      z-index: 2;
      h1 {
        font-weight: bold;
        margin-bottom: 4px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
        i {
          margin-left: 5px;
        }
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      .editPhoto {
        color: white;
        text-align: center;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        top: 73px;
        margin: auto;
        width: 50px;
        right: 0;
        left: 0;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
        span {
          margin-bottom: 5px;
        }
        i {
          font-size: 20px;
        }
      }
    }
    .dial-sections {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100vw * 3);
      -ms-flex-pack: distribute;
          justify-content: space-around;
      left: 0%;
      top: 131px;
      position: absolute;
      -webkit-transition: left 0.5s ease;
      transition: left 0.5s ease;
      background: white;
      z-index: 1;
      .status-section {
        text-align: center;
        margin: 40px;
        width: calc(67.33% - 80px);
      }
      .dial-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: calc(67.33% - 80px);
        margin: 40px;
      }
    }
    .dial-editing {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      background: white;
      width: 100%;
      margin-top: -18px;
      padding: 50px;
      .edit-button {
        margin-bottom: 30px;
        color: $commonsorange;
        .icon-pencil {
          margin-left: 10px;
          color: $lightgray;
        }
      }
    }
    .status-editing {
      background: white;
      width: 100%;
      margin-top: -18px;
      padding: 50px;
      text-align: center;
      h1 {
        margin-bottom: 10px;
        color: $commonsorange;
      }
      textarea {
        font-family: helvetica, sans-serif;
        border-radius: 10px;
        border-color: $lightergray;
        resize: none;
        padding: 10px;
        width: 90%;
        height: 100px;
        color: $black;
      }
    }
    .icon-gears, .icon-heart {
      position: absolute;
      top: 62px;
      right: 0;
      padding: 20px;
      color: $lightgray;
      z-index: 1;
    }
  }
  .profile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    width: 100%;
    .active {
      color: $black;
    }
    p {
      color: $lightgray;
      padding: 10px;
    }
  }
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
    &:hover {
      cursor: pointer;
      color: $commonsorange;
    }
  }
  .darken {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
