@import "../../vars.scss";

.Profile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  background: white;
  -ms-touch-action: none;
  touch-action: none;
  video {
    width: 100%;
  }
  .profile-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -135px;
    position: absolute;
    width: 100%;
    .pic-info {
      color: white;
      text-align: center;
      z-index: 1;
      h1 {
        font-weight: bold;
        margin-bottom: 4px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.45);
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
    .dial-sections {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: calc(100vw * 3);
      -ms-flex-pack: distribute;
          justify-content: space-around;
      left: 0%;
      top: 140px;
      position: absolute;
      -webkit-transition: left 0.5s ease;
      transition: left 0.5s ease;
      .status-section {
        text-align: center;
        margin: 40px;
        width: calc(67.33% - 80px);
      }
      .dial-section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: calc(67.33% - 80px);
        margin: 40px;
      }
    }
    #triangle1 {
      position: absolute;
      top: 39px;
      width: 100%;
    }
    #triangle2 {
      position: absolute;
      top: 73px;
      left: 0;
      width: 80%;
      opacity: 0.5;
    }
  }
  .profile-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    width: 100%;
    .active {
      color: $black;
    }
    p {
      color: $lightgray;
      padding: 10px;
    }
  }
}
