.back-section {
  width: 100%;
  position: relative;
  height: 65px;
  padding: 25px 15px;
  margin-bottom: 10px;
  .back-arrow {
    width: 30px;
    height: 30px;
  }
  .back-arrow-1 {
    position: absolute;
    width: 16px;
    height: 3.5px;
    margin-top: 17px;
    background: #FF7553;
    border: none;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .back-arrow-2 {
    position: absolute;
    width: 16px;
    height: 3.5px;
    margin-top: 8px;
    background: #FF7553;
    border: none;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .step-bar {
    width: 80%;
    height: 5px;
    background: #EFEFEF;
    margin: auto;
    border-radius: 50px;
    .progress {
      height: 5px;
      background: #FF7553;
      border-radius: 50px;
    }
  }
}
