.dial-container {
  position: absolute;
  top: calc(50% - 94px);
  width: 185px;
  height: 225px;
  z-index: 1;
  .feedDial {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    div {
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 50%;
      background: white;
      color: #4D4D4D;
      font-weight: bold;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
      p {
        text-align: center;
        line-height: 35px;
        width: 35px;
        height: 35px;
        h1 {
          position: absolute;
          color: white;
          z-index: -1;
          white-space: nowrap;
          top: 0px;
          padding: 0px 10px;
          padding-left: 41px;
          background: rgba(255, 108, 72, 0.65);
          border-radius: 50px;
          opacity: 0.0;
          -webkit-transition: opacity 1s ease;
          transition: opacity 1s ease;
        }
      }
    }
    .spoke {
      width: 35px;
      height: 64%;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    #dial-1 {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      div {
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: transform 1s ease;
                -webkit-transition: -webkit-transform 1s ease;
                transition: -webkit-transform 1s ease;
                transition: transform 1s ease;
                transition: transform 1s ease, -webkit-transform 1s ease;
      }
    }
    #dial-2 {
      -webkit-transform: rotate(72deg);
              transform: rotate(72deg);
      div {
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
        -webkit-transform: rotate(-72deg);
                transform: rotate(-72deg);
                -webkit-transition: transform 1s ease;
                -webkit-transition: -webkit-transform 1s ease;
                transition: -webkit-transform 1s ease;
                transition: transform 1s ease;
                transition: transform 1s ease, -webkit-transform 1s ease;
      }
    }
    #dial-3 {
      -webkit-transform: rotate(144deg);
              transform: rotate(144deg);
      div {
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
        -webkit-transform: rotate(-144deg);
                transform: rotate(-144deg);
                -webkit-transition: transform 1s ease;
                -webkit-transition: -webkit-transform 1s ease;
                transition: -webkit-transform 1s ease;
                transition: transform 1s ease;
                transition: transform 1s ease, -webkit-transform 1s ease;
      }
    }
    #dial-4 {
      -webkit-transform: rotate(216deg);
              transform: rotate(216deg);
      div {
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
        -webkit-transform: rotate(-216deg);
                transform: rotate(-216deg);
                -webkit-transition: transform 1s ease;
                -webkit-transition: -webkit-transform 1s ease;
                transition: -webkit-transform 1s ease;
                transition: transform 1s ease;
                transition: transform 1s ease, -webkit-transform 1s ease;
      }
    }
    #dial-5 {
      -webkit-transform: rotate(288deg);
              transform: rotate(288deg);
      div {
        -webkit-transition: background 1s ease;
        transition: background 1s ease;
        -webkit-transform: rotate(-288deg);
                transform: rotate(-288deg);
                -webkit-transition: transform 1s ease;
                -webkit-transition: -webkit-transform 1s ease;
                transition: -webkit-transform 1s ease;
                transition: transform 1s ease;
                transition: transform 1s ease, -webkit-transform 1s ease;
      }
    }
  }
}
