.home {
  background: #FF6C48;
  height: 100%;
  width: 100%;
  position: absolute;
  color: white;
}

.home .home-logo {
  position: absolute;
  margin: auto;
  width: 95px;
  height: 95px;
  right: 0;
  left: 0;
  top: -25px;
  bottom: 0;
}

.home img {
  width: 95px;
}

.home h1 {
  margin: auto;
  margin-left: -25px;
}
